@charset "UTF-8";
a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: "Gotham Pro", "sans-serif";
}

.body_active::after {
  content: "";
  background-color: black;
  opacity: 0.5;
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
}

.container {
  max-width: 1820px;
  margin: 0 auto;
}

.header {
  padding: 30px 0;
}
.header__wrapper {
  display: flex;
}
.header-catalog {
  display: none;
  position: relative;
  background-color: #fff;
  z-index: 500;
  padding: 20px;
  border-radius: 5px;
}
.header-catalog_active {
  display: flex;
  justify-content: space-between;
  flex-basis: 25%;
  padding-top: 20px;
}
.header-catalog__items {
  display: flex;
  align-items: center;
}
.header-catalog__column:not(:last-child) li span::after {
  content: "ВСЕ";
  padding-left: 10px;
  color: blue;
  padding: 5px;
  border: 1px solid blue;
  border-radius: 5px;
  margin-left: 10px;
}
.header-catalog__column:last-child {
  display: flex;
  flex-direction: column;
}
.header-catalog__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-top: 20px;
}
.header-catalog-buttons {
  padding-left: 60px;
  padding-right: 30px;
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  justify-content: space-between;
}
.header-catalog__btn {
  color: #fff;
  padding: 16px 55px;
  background-color: #1C69D4;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.header-catalog__btn::before {
  content: "";
  display: block;
  width: 22px;
  height: 15px;
  background-image: url("../../img/header/catalogo-btn-icon.svg");
  margin-right: 15px;
}
.header-catalog-chise-brn {
  background-color: #1C69D4;
  color: #fff;
  padding: 20px 30px;
  text-align: center;
  border-radius: 5px;
}
.header-catalog__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header-catalog__item li {
  padding-bottom: 10px;
}
.header-catalog__item li a {
  color: #1C69D4;
  font-size: 13px;
  font-weight: 400;
}
.header-catalog__item-heading {
  font-size: 14px;
  font-weight: 700;
}
.header-contact-link {
  font-size: 14px;
  color: #222;
}
.header__phone-number {
  font-size: 18px;
  font-weight: 500;
  color: #222;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.header__right-top {
  display: flex;
  justify-content: space-between;
}
.header__right-top__body a:not(:first-child) {
  font-size: 15px;
  font-weight: 400;
  color: #222;
}
.header__right-top__body a {
  padding-right: 40px;
}
.header__right-form {
  display: flex;
  align-items: center;
  border: 1.5px solid #BBBBBB;
  border-radius: 5px;
}
.header__right-form__input {
  padding: 16px 13px;
  width: 98%;
  border: none;
}
.header__right-form__input::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #999;
}
.header__right-form__input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #999;
}
.header__right-form::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("../../img/header/search-icon.svg");
  position: relative;
  left: 10px;
}
.header-logo {
  max-width: 80px;
  max-height: 88px;
}
.header-acc {
  display: flex;
}
.header-acc__submit-btn {
  padding-right: 20px;
  display: flex;
  align-items: center;
}
.header-acc__submit-btn::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../../img/header/log-in.svg");
  background-size: cover;
  margin-right: 10px;
}
.header-acc__shop-btn {
  display: flex;
  align-items: center;
}
.header-acc__shop-btn::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../../img/header/shop-card.svg");
  background-size: cover;
  margin-right: 10px;
}
.header-acc a {
  font-weight: 400;
  font-size: 14px;
  color: #222;
}
.header-contact-link {
  white-space: nowrap;
  color: #222;
}
.header-contact-link span::after {
  content: " ";
  height: 8px;
  width: 1px;
  background-color: #222;
  display: inline-block;
  transform: rotate(35deg);
  position: relative;
  left: 3px;
}
.header-contact-link span::before {
  content: " ";
  height: 8px;
  width: 1px;
  background-color: #222;
  display: inline-block;
  transform: rotate(-35deg);
  margin-left: 10px;
}

.header-catalog__column:not(:last-child) {
  padding-top: 20px;
}

.header-catalog__btn_active {
  background-color: #fff;
  color: blue;
  z-index: 999;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.header-catalog__btn_active:before {
  background-image: url("../../img/header/catalogo-btn-icon2.png");
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
}/*# sourceMappingURL=style.css.map */