*:focus
    outline: none
a
    text-decoration: none
    color:#000
body
    font-family: 'Gotham Pro' , 'sans-serif'
.body_active
    
    &::after
        content: ""
        background-color: black
        opacity: 0.5
        display: block
        width: 100vw
        height: 100vh
        position: absolute
        top: 0
.container
    max-width: 1820px
    margin: 0 auto
    
@import "header.sass"